.technology-stack {

}

.technology-stack__title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
  line-height: normal;
}

@media (max-width: 767.98px) {
  .technology-stack {
    display: none;
  }
}
