.logo-main {
  background: url("../img/logo-main.svg") no-repeat center;
  background-size: 100% auto;
  width: 163px;
  height: 43px;
  display: block;
}

.golang-icon {
  background: url("../img/golang-gopher-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 12px;
  height: 17px;
  display: block;
}

.stop-btn {
  background: #D05D5D;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.play-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
}

.graph-1 {
  background: url("../img/graph-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 464px;
  height: 30px;
  display: block;
}

.graph-2 {
  background: url("../img/graph-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 464px;
  height: 30px;
  display: block;
}

.graph-3 {
  background: url("../img/graph-3.svg") no-repeat center;
  background-size: 100% auto;
  width: 464px;
  height: 30px;
  display: block;
}

@media (max-width: 767.98px) {
  .logo-main {
    width: 116px;
    height: 31px;
  }
}
